@page "/host"
@using Microsoft.AspNetCore.Components.Web
@using ICEBG.Web.DataServices
@namespace Website.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICEBG (DataServices)</title>
    <base href="~/" />
</head>

<body>
    <div style="font-size:xx-large;">This is the only page served from ICEBG.Web.DataServer</div>
    <div style="font-size:xx-large;">1.0</div>
</body>

</html>
