@page "/index_server"
@namespace ICEBG.Web.DataServices.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICEBG (DataServices - Server)</title>

    <base href="~/" />

</head>

<body>
    <div style="font-size:xx-large;">This is the only page served from ICEBG.Web.DataServer</div>
    <div id="blazor-error-ui">
@*
    <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="https://shboptimiser:444" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
*@
</div>

</body>
</html>
