@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

<li>
    This application was built in <strong>@pBuildMode</strong> mode and is currently executing on <strong>@pRuntime</strong> hosted by <strong>@pOSDescription/@pOSArchitecture</strong>.
</li>
<br/>
<li>
    The version is <strong>@pVersion</strong>.
</li>
