@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

<li>
    This application was built in <strong>@pBuildMode</strong> mode.
</li>
<br />
<li>
    The application version is <strong>@pVersion</strong>.
</li>
<br />
<li>
    The runtime is <strong>@pRuntime</strong>.
</li>
<br/>
<li>
    The host is <strong>@pOSDescription/@pOSArchitecture</strong>.
</li>
