@page "/Configuration"

@namespace ICEBG.Client

<PageTitle>Configuration</PageTitle>

@using ICEBG.DataTier.DataDefinitions
@using ICEBG.DataTier.gRPCClient
@using ICEBG.DataTier.HelperClasses
@using ICEBG.DataTier.Interfaces
@using ICEBG.SharedUtilities
@using ICEBG.SystemFramework

@inject iConfigurationClient ConfigurationClient

<h1>GRPC configuration</h1>

<p>This component demonstrates fetching data from a GRPC service.</p>

@if (configuration == null)
{
    <h1>Loading...</h1>
}
else
{
    @if (configuration.pSuccess)
    {
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Success</b></td>
                    <td>true</td>
                </tr>
                <tr>
                    <td><b>Key</b></td>
                    <td>@configuration.pResult.Id</td>
                </tr>
                <tr>
                    <td><b>Server version</b></td>
                    <td>@configuration.pResult.ServerVersion</td>
                </tr>
                <tr>
                    <td><b>pResult</b></td>
                    <td>@configuration.pResult.Configuration</td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Success</th>
                    <th>pError</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>false</td>
                    <td>@configuration.pError</td>
                </tr>
            </tbody>
        </table>
    }
}
