@page "/"

@namespace ICEBG.Client

@inherits ComponentBase


<div class="dw-section-regular">
    <div class="dw-max-width-content">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12 dw-tagline">
                    <div class="dw-picture-right">
                        <p class="mdc-typography--headline4">More work...</p>
                        <p class="mdc-typography--body1">
                            We need these shelves organized.
                        </p>
                    </div>

                    <br />
                    <img src="_content/ICEBG.Client/images/book-shelves.jpg" alt="book-shelves" width="640px" height="420px">

                </div>

            </div>
        </div>
    </div>
</div>

