@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<div class="dw-section-condensed dw-hero">
    <div class="dw-max-width-content">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12">
                    <div class="dw-panel-container dw-carousel-container">
                        <MBCarousel Context="item"
                                    Items="@CarouselImages"
                                    RolloverInterval="4000">
                            <Content>
                                <img src="@item.Uri" alt="@item.Caption">
                                <div><p class="mdc-typography--caption" style="text-align: center;">@item.Caption</p></div>
                            </Content>
                        </MBCarousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dw-section-regular">
    <div class="dw-max-width-content">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12 dw-tagline">
                    <div class="dw-picture-right">
                        <p class="mdc-typography--headline4">More work for Dioptra</p>
                        <p class="mdc-typography--body1">
                            We need these shelves organized.
                        </p>
                    </div>

                    <br />
                    <img src="_content/ICEBG.Client/images/book-shelves.jpg" alt="book-shelves" width="640px" height="420px">

                </div>

            </div>
        </div>
    </div>
</div>

