<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/ba3dca11-0ffc-42d4-ad2d-821eefd6de19/resourceGroups/rgICEBG/providers/Microsoft.ContainerRegistry/registries/acrICEBG</ResourceId>
    <ResourceName>acrICEBG</ResourceName>
    <ResourceGroup>rgICEBG</ResourceGroup>
    <Subscription>Azure subscription (MarkStega@outlook.com)</Subscription>
    <RegistryUrl>https://acricebg.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>
    </PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>DEMO</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fb1c1beb-8d2e-437d-a815-80293a2b7936</ProjectGuid>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>