<?xml version="1.0" encoding="utf-8" ?>

<!-- nlog.Azure.config -->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="\home\LogFiles\internal-nlog-ui.log"
	  throwConfigExceptions="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Extensions.AzureBlobStorage" />
	</extensions>

	<variable name="container" value="icebg-logs-ui" />

	<!-- the targets to write to -->
	<targets async="true">

		<!-- write logs to blobs  -->

		<target
		  xsi:type="AzureBlobStorage"
		  name="allUI"
		  layout="${longdate} | ${uppercase:${level}} | ${message}"
		  blobName="UI-All-${shortdate}.log"
          container="${container}"
          connectionString="${environment:ICEBG_AzureStorageConnectionString" />

		<target
		  xsi:type="AzureBlobStorage"
		  name="debugUI"
		  layout="${longdate} | ${uppercase:${level}} | ${message}"
		  blobName="UI-Debug-${shortdate}.log"
          container="${container}"
          connectionString="${environment:ICEBG_AzureStorageConnectionString" />

		<target
		  xsi:type="AzureBlobStorage"
		  name="errorUI"
		  layout="${longdate} | ${uppercase:${level}} | ${message}"
		  blobName="UI-Error-${shortdate}.log"
          container="${container}"
          connectionString="${environment:ICEBG_AzureStorageConnectionString" />

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>

		<!--All logs, including from Microsoft-->
		<!--<logger name="*" minlevel="Trace" writeTo="allUI" />-->

		<!--Skip non-critical Microsoft logs and so log only own logs-->

		<!-- BlackHole without writeTo -->
		<logger name="Grpc.*" maxLevel="Info" final="true" />

		<!-- BlackHole without writeTo -->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />

		<logger name="*" minlevel="Error" writeTo="errorUI"/>
		<logger name="*" minlevel="Debug" writeTo="debugUI"/>

	</rules>

</nlog>

