<?xml version="1.0" encoding="utf-8" ?>

<!-- nlog.DevWebAssembly.config -->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="c:/ICEBG.Logs/internal-nlog-ui.log">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="prefix" value="c:/ICEBG.Logs" />

	<!-- the targets to write to -->
	<targets>

		<!-- write logs to files  -->

		<target
		  xsi:type="File"
		  name="allFileUI"
		  layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
		  fileName="${prefix}/UI-All-${shortdate}.log" />

		<target
		  xsi:type="File"
		  name="debugFileUI"
		  layout="${longdate} | ${uppercase:${level}} | ${message}"
		  fileName="${prefix}/UI-Debug-${shortdate}.log" />

		<target
		  xsi:type="File"
		  name="errorFileUI"
		  layout="${longdate} | ${uppercase:${level}} | ${message}"
		  fileName="${prefix}/UI-Error-${shortdate}.log" />

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>

		<!--All logs, including from Microsoft-->
		<!--<logger name="*" minlevel="Trace" writeTo="allFileUI" />-->

		<!--Skip non-critical Microsoft logs and so log only own logs-->

		<!-- BlackHole without writeTo -->
		<logger name="Grpc.*" maxLevel="Info" final="true" />

		<!-- BlackHole without writeTo -->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />

		<logger name="*" minlevel="Error" writeTo="errorFileUI"/>
		<logger name="*" minlevel="Debug" writeTo="debugFileUI"/>

	</rules>

</nlog>

