html, body, app {
    margin: 0;
    padding: 0;
}

/* The 100vh in the next style is critical to constraining the display to the available window */

.opti-main {
    display: flex;
    flex-flow: column nowrap;
    max-height: 100vh;
}

.opti-main-appbar {
    flex: 0;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: azure;
    position: relative;
}

.opti-main-appbar2 {
    flex: 0;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: lavender;
}

.opti-main-body {
    flex: 1;
    max-height: 100%;
    min-height: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}




.opti-scrolling-list-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.opti-table-standard {
    width: 100%;
    flex-grow: 1;
    overflow: visible;
    font-size: 1.0rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid black;
    border-collapse: collapse;
    text-indent: unset;
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

.opti-table-standard td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.3rem;
    text-align: left;
}

.opti-table-standard tr:nth-child(even) {
    background-color: transparent;
}

.opti-table-standard tr:nth-child(odd) {
    background-color: transparent;
}

.opti-table-key {
    width: 100%;
    flex-grow: 1;
    overflow: visible;
    font-size: 1.0rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0px;
    border-collapse: collapse;
    text-indent: unset;
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

.opti-table-key td, th {
    border: 0px;
    border-collapse: collapse;
    padding: 0.3rem;
    text-align: left;
}


.opti-table-alternating-rows-bright {
    width: 100%;
    flex-grow: 1;
    overflow: visible;
    font-size: 1.0rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid black;
    border-collapse: collapse;
    text-indent: unset;
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

.opti-table-alternating-rows-bright td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.3rem;
    text-align: left;
}

.opti-table-alternating-rows-bright tr:nth-child(even) {
    background-color: khaki;
}

.opti-table-alternating-rows-bright tr:nth-child(odd) {
    background-color: lemonchiffon;
}


.opti-table-alternating-rows-subtle {
    width: 100%;
    flex-grow: 1;
    overflow: visible;
    font-size: 1.0rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid black;
    border-collapse: collapse;
    text-indent: unset;
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

.opti-table-alternating-rows-subtle td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.3rem;
    text-align: left;
}

.opti-table-alternating-rows-subtle tr:nth-child(even) {
    background-color: #dddddd;
}

.opti-table-alternating-rows-subtle tr:nth-child(odd) {
    background-color: #eeeeee;
}

.mdc-text-field--outlined.mdc-notched-outline--upgraded .mdc-floating-label--float-above, .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    color: darkgreen !important;
    font-weight: normal;
}

.mdc-select--outlined.mdc-notched-outline--upgraded .mdc-floating-label--float-above, .mdc-select--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    color: darkgreen !important;
    font-weight: normal;
}

